flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "My Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fce696d057a39914",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d6201f8a523a8328",
        "type": "inject",
        "z": "3af82246.3634ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "040766ef65c1fb0f"
            ]
        ]
    },
    {
        "id": "1e784ae2d63a60a2",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "040766ef65c1fb0f",
        "type": "function",
        "z": "3af82246.3634ae",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "1e784ae2d63a60a2"
            ]
        ]
    },
    {
        "id": "3b58b637bfcc778b",
        "type": "inject",
        "z": "fce696d057a39914",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "1fd58bd67452f17d"
            ]
        ]
    },
    {
        "id": "3e2a385b2b0131c4",
        "type": "function",
        "z": "fce696d057a39914",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1fd58bd67452f17d",
        "type": "function",
        "z": "fce696d057a39914",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "3e2a385b2b0131c4"
            ]
        ]
    }
]